<a href="#" style="--clr:#fffb00"
    class="drawBorder relative uppercase text-2xl inline-block bg-gray-500 px-8 py-4 text-white">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    draw
    border</a>
<a href="#" style="--clr:#00eeff"
    class="drawBorder relative uppercase text-2xl inline-block bg-gray-500 px-8 py-4 text-white">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    draw
    border</a>
<a href="#" style="--clr:#ff00ff"
    class="drawBorder relative uppercase text-2xl inline-block bg-gray-500 px-8 py-4 text-white">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    draw
    border</a>