<div class="flex  flex-col space-y-12 bg-violet-600  mx-auto  h-screen justify-center items-center">
    <div class="wrapper h-96 space-x-3 rounded-lg flex justify-center flex-col items-center bg-white">
        <!-- <i
                class="fa fa-solid fa-circle-question text-8xl text-violet-500 outline-4 outline-dashed rounded-full p-1"></i> -->
        <img src="./src/assets/images/profile.jpeg"
            class="wimg rounded-full w-32 h-32 outline-dashed p-1 text-violet-500" alt="">
        <h2 class="question  mt-8 text-4xl text-violet-500 capitalize">saeed, Do you Love me ? </h2>
        <div class="btn-group w-full flex justify-center items-center mt-16 ">
            <button class="absolute w-32 text-3xl font-medium rounded-3xl  yes capitalize">yes</button>
            <button class="absolute w-32 text-3xl font-medium rounded-3xl  no capitalize">no</button>
        </div>
    </div>
</div>