<figure class="card flex relative justify-center items-center">
    <div class="image"><img src="./src/assets/images/coding1.jpeg" alt="coding1"></div>
    <figcaption>
        <h1>lorem ispum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati! Sequi neque
            possimus laborum odio fugiat temporibus molestias dolore eveniet odit labore quisquam molestiae
            rerum harum, quaerat repellat inventore voluptas!</p>
    </figcaption>
    <a href="#">read more</a>
</figure>

<figure class="card flex relative justify-center items-center">
    <div class="image"><img src="./src/assets/images/coding1.jpeg" alt="coding1"></div>
    <figcaption>
        <h1>lorem ispum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati! Sequi neque
            possimus laborum odio fugiat temporibus molestias dolore eveniet odit labore quisquam molestiae
            rerum harum, quaerat repellat inventore voluptas!</p>
    </figcaption>
    <a href="#">read more</a>
</figure>

<figure class="card flex relative justify-center items-center">
    <div class="image"><img src="./src/assets/images/coding1.jpeg" alt="coding1"></div>
    <figcaption>
        <h1>lorem ispum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati! Sequi neque
            possimus laborum odio fugiat temporibus molestias dolore eveniet odit labore quisquam molestiae
            rerum harum, quaerat repellat inventore voluptas!</p>
    </figcaption>
    <a href="#">read more</a>
</figure>