@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Border Animation Button */
.borderAnimation {
  letter-spacing: 0.5rem;
  transition: 0.5s ease;
}

.borderAnimation:hover {
  color: #00eeff;
  letter-spacing: 1rem;
  text-shadow: 0 0 5px #00eeff;
  box-shadow: 0 0 5px #00eeff;
}

.borderAnimation span {
  position: absolute;
  display: block;
  background: #00eeff;
}

.borderAnimation span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(3) {
  right: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(5) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: top;
}

/* Border Animation Button */

/*NEON BUTTON*/

.neonButton {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  letter-spacing: 1.6px;
  overflow: hidden;
}

.neonButton:hover {
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
    0 0 40px #ff00ff;
}

.neonButton span {
  position: absolute;
  left: 0;
  top: -100%;
  background: linear-gradient(#000, #ff00ff, #000);
  width: 100%;
  height: 230%;
  z-index: -1;
  transition: 0.5s;
}

.neonButton span:hover {
  top: 0;
}

/*RHMBUS */
.rhombus {
  letter-spacing: 0.2em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}

.rhombus span {
  position: absolute;
  width: 0;
  height: 100%;
  background: #ff00ff;
  z-index: -1;
  transition: width 1s ease;
}

.rhombus span:nth-child(1) {
  top: 0;
  left: -50px;
  transform: skewX(-60deg);
}

.rhombus:hover span:nth-child(1) {
  width: 100%;
}

.rhombus span:nth-child(2) {
  top: 0;
  left: -50px;
  transform: skewX(60deg);
}
.rhombus:hover span:nth-child(2) {
  width: 100%;
}
.rhombus span:nth-child(3) {
  top: 0;
  right: -50px;
  transform: skewX(-60deg);
}
.rhombus:hover span:nth-child(3) {
  width: 100%;
}
.rhombus span:nth-child(4) {
  top: 0;
  right: -50px;
  transform: skewX(60deg);
}

.rhombus:hover span:nth-child(4) {
  width: 100%;
}

/* CARD */
.card {
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 10px 10px 15px #7f8080;
}

.card .image img {
  position: relative;
  vertical-align: top;
  max-width: 100%;
  height: 25rem;
  transition: 0.5s ease;
}

.card:hover img {
  transform: scale(1.1);
}
.card figcaption {
  position: absolute;
  padding: 15px 20px 40px;
  bottom: 0;
  z-index: 1;
}
.card figcaption::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, #b2c4c9, #fff);
  opacity: 0.8;
  z-index: -1;
}

.card h3 {
  display: inline-block;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.8em;
  line-height: 1.6em;
}

.card a {
  position: absolute;
  display: inline-block;
  font-size: 0.75em;
  color: white;
  background: #413b3b;
  padding: 5px 10px;
  border-radius: 6px;
  bottom: 10px;
  z-index: 1;
}

/*Draw border*/

.drawBorder {
  letter-spacing: 0.2em;
  transition: 0.4s ease;
}

.drawBorder:hover {
  color: var(--clr);
  letter-spacing: 0.5em;
  background: #1f242d;
}
.drawBorder span {
  position: absolute;
  background: var(--clr);
  display: block;
}

.drawBorder span:nth-child(1) {
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.drawBorder:hover span:nth-child(1) {
  transform: scaleX(1);
}

.drawBorder span:nth-child(2) {
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s ease;
  transition-delay: 0.3s;
}

.drawBorder:hover span:nth-child(2) {
  transform: scaleY(1);
}

.drawBorder span:nth-child(3) {
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transition-delay: 0.5s;
}

.drawBorder:hover span:nth-child(3) {
  transform: scaleX(1);
}

.drawBorder span:nth-child(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.5s ease;
  transition-delay: 1s;
}

.drawBorder:hover span:nth-child(4) {
  transform: scaleY(1);
}
