@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Border Animation Button */
.borderAnimation {
  letter-spacing: 0.5rem;
  transition: 0.5s ease;
}

.borderAnimation:hover {
  color: #00eeff;
  letter-spacing: 1rem;
  text-shadow: 0 0 5px #00eeff;
  box-shadow: 0 0 5px #00eeff;
}

.borderAnimation span {
  position: absolute;
  display: block;
  background: #00eeff;
}

.borderAnimation span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(3) {
  right: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(5) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: top;
}

/* Border Animation Button */

/*NEON BUTTON*/

.neonButton {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  letter-spacing: 1.6px;
  overflow: hidden;
}

.neonButton:hover {
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
    0 0 40px #ff00ff;
}

.neonButton span {
  position: absolute;
  left: 0;
  top: -100%;
  background: linear-gradient(#000, #ff00ff, #000);
  width: 100%;
  height: 230%;
  z-index: -1;
  transition: 0.5s;
}

.neonButton span:hover {
  top: 0;
}

/*RHMBUS */
.rhombus {
  letter-spacing: 0.2em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}

.rhombus span {
  position: absolute;
  width: 0;
  height: 100%;
  background: #ff00ff;
  z-index: -1;
  transition: width 1s ease;
}

.rhombus span:nth-child(1) {
  top: 0;
  left: -50px;
  transform: skewX(-60deg);
}

.rhombus:hover span:nth-child(1) {
  width: 100%;
}

.rhombus span:nth-child(2) {
  top: 0;
  left: -50px;
  transform: skewX(60deg);
}
.rhombus:hover span:nth-child(2) {
  width: 100%;
}
.rhombus span:nth-child(3) {
  top: 0;
  right: -50px;
  transform: skewX(-60deg);
}
.rhombus:hover span:nth-child(3) {
  width: 100%;
}
.rhombus span:nth-child(4) {
  top: 0;
  right: -50px;
  transform: skewX(60deg);
}

.rhombus:hover span:nth-child(4) {
  width: 100%;
}
