@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Border Animation Button */
.borderAnimation {
  letter-spacing: 0.5rem;
  transition: 0.5s ease;
}

.borderAnimation:hover {
  color: #00eeff;
  letter-spacing: 1rem;
  text-shadow: 0 0 5px #00eeff;
  box-shadow: 0 0 5px #00eeff;
}

.borderAnimation span {
  position: absolute;
  display: block;
  background: #00eeff;
}

.borderAnimation span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: right;
}

.borderAnimation span:nth-child(3) {
  right: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transform-origin: bottom;
}

.borderAnimation:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(5) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: left;
}

.borderAnimation:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: top;
}

.borderAnimation span:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-delay: 0.8s;
  transform-origin: right;
}

.borderAnimation:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: top;
}

/* Border Animation Button */
